body {
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.calculator {
    width: 465px;
    margin: auto;
    margin-top: 150px;
}

.screen {
    width: 100%;
    height: 60px;

    margin-bottom: 10px;
    padding: 0 10px 0 10px;

    border: 1px solid #dadce0;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: right;
}

.screen__text {
    font-size: 27px;
    font-family: "Arial";

    width: 100%;
    text-align: right;

    border: none;
}

.screen__text:focus {
    outline: none;
}

.keyboard {
    display: flex;
}

.col {
    margin-right: 10px;
}

.col:last-child {
    margin-right: 0;
}

.btn {
    width: 85px;
    height: 32px;

    background-color: #dadce0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 4px;

    margin-bottom: 10px;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    border: solid 1px black;
    border-radius: 4px;
    box-shadow: 0px 0.5px 5px 0px rgba(0, 0, 0, 0.3)
}

.btn:last-child {
    margin-bottom: 0;
}

.btn--color {
    background-color: #F1F3F4;
}

.btn--bold {
    font-weight: 800;
}

.name__btn {
    font-family: "Arial";
    font-size: 13px;
}

.remove {
    rotate: 180deg;
}

.equal {
    font-size: 17px;
    color: white;
    font-weight: 700;

    background-color: #4285F4;
}

.name__btn--size {
    font-size: 16px;
}
